<h4>Toutes les Recettes</h4>
<div class="container-fluid">
	<div class="span12">
		<div class="row">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default span3 offset3">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title"><a class="collapsed button_login_page1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Entrées </a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<% i = 20%>
							<% @starter.each do |r| %>
							<% i = i + 1  %>

							<div id="recipe<%= i%>" draggable="true">
								<%= link_to details_path(r.id), :toggle=> "tooltip", :id => r.name do %>
								<div class="menuFc" title="<%= r.name %>">
									<i class="icon-shopping-cart" ></i>
								</div>
								<%end%>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="panel panel-default span3">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title"><a class="collapsed button_login_page1" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Plats </a></h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<% i = 30%>
							<% @dish.each do |r| %>
							<% i = i + 1  %>

							<div id="recipe<%= i%>" draggable="true">
								<%= link_to details_path(r.id), :toggle=> "tooltip", :id => r.name do %>
								<div class="menuFc" title="<%= r.name %>">
									<i class="icon-shopping-cart" ></i>
								</div>
								<%end%>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="panel panel-default span3">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title"><a class="collapsed button_login_page1" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Desserts </a></h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<% i = 41%>
							<% @dessert.each do |r| %>
							<% i = i + 1  %>

							<div id="recipe<%= i%>" draggable="true">
								<%= link_to details_path(r.id), :toggle=> "tooltip", :id => r.name do %>
								<div class="menuFc" title="<%= r.name %>">
									<i class="icon-shopping-cart" ></i>
								</div>
								<%end%>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".menuFc").tooltip({
			placement : 'right'
		});
	});

</script>