<div class="" style="padding-top: 4%;"%>
	<h2>FoodChain</h2>
	<hr>
	<%= render "recipe_list" %>

	<%= render "search" %>
	<%= link_to "retour", foodchain_path %>

	<h3>Résultat de votre recherche </h3>
	<br/>
	<br>
	<div class="container">

		<div class="span12">
			<div class="row">
				<% if !@recipe.nil? %>
				<% @recipe.each do |r| %>

				<div class="span 1 offset 1">
					<div>
						<%= r.id%>

						<%= link_to r.name, details_path(r.id) %>

						<br>
						note: <%= r.grade%>/5
						<br>
						prix :<%= r.price%>€
					</div>
					<div class="recipePrep">
						Temps de préparation : <%= r.preparation%> minutes
						<br>
						Temps de cuisson : <%= r.bakingTime%> minutes
					</div>
				</div>
				<% end %>
				<% else %>
				<div class="span 3 offset 1" style="padding-top: 4%;">
					Pas de resultat pour votre recherche
				</div>
				<% end %>

			</div>
		</div>

	</div>

</div>
